<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/main.css' %} "/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<div id="menu">

    <a href="/">Home</a>
    <a href="/watch_list">Watched list</a>

</div>
<div id="rec">




</div>

<div id="body">
{% for movie in data %}
                <a class="movie" href="/movie/{{movie.id}}/")">
                <img src="https://image.tmdb.org/t/p/w440_and_h660_face/{{movie.poster_path}}"/>
                <div class="title">{{movie.title}}</div>
                <div class="date">{{movie.time}}</div>
                <div class="lang">{{movie.lang}}</div>\
                </a>
{% endfor %}
</div>

<div id="detail">
</div>
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/scroll.js' %}"></script>
</body>
</html>